<!DOCTYPE html>
<html>
  <head>
    <% include _head %>
  </head>
  <body>
    <header>
      <div>
        <h1><%= page.header %></h1>
      </div>
    </header>
    <main>
      <%- page.body %>
    </main>
  </body>
</html>
