---
title: Fuck Yeah
description: Fuck Yeah Button, for Fuck Yeah stuff! Turn on the volume to the top hit the button yeah!
---

<div id="wrapper">
  <div id="images"></div>
  <button id="button">Fuck<br />yeah!</button>
  <div id="clouds"></div>
  <div id="count"><%- site.countText %> <span></span></div>
  <div id="ground"></div>
</div>
